:root {
  --bg-color: #ffffff;
  --text-color: #111111;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  border: 1px solid white;
  padding: 20px;
  border-radius: 15px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
